

@media screen and (max-width: 1100px) {
    .search-input  { 
        width: 80%;
    }
    .navigation ul { 
        padding:0;
    }
    
    #x-cta-area {
      width: 100%;
    }
    #best-sellers-items {
      width: 100%;
      display: flex
    }
    .slider .items-block {
      width: 90%;
    }
    .slider .next,
    .slider .prev {
      width: 5%;
    }
    #home-header .navigation li { 
        font-size: 10px;
        margin-top: 4px;
    }

    .new-image { 
        min-width: 50px;
    }

    .new-image img { 
        width: 70%;
    }

    .yellow-line-new { 
        flex: 2;
    }

    #instagram-region {
        margin-top: 40px;
    }

    .yellow-photo-label {
        position: absolute;
        width: auto;
        height: auto;
    }

    .some-photo {
        flex: 1;
        min-width: 30vw;
        height: 30vw;
        margin: 5px;
    }   

    .some-area-item { 
            align-items: center;
            min-height: 150px;
            min-width: 170px;
            margin: 5px;
    }
    .slider-control { 
      width: 16px;
      height: 20px;
      border:3px solid #E0FF04;
  }

    #x-cta-area {
        margin-top: 60px;
    }
    article h3 { 
        font-size: 18px; 
    } 

    .yellow-line {
       flex: 1;
    }

    .some-seller-item img {
        width: 70%;
        margin-left: 5%;
    }

    .item-image {
        min-height: 200px;
    }

    #best-sellers-items .some-seller-item { 
        margin-top: 50px;
    }

    .item-info { 
        margin-top: 0;
    }
    .hidden-menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 200px;
        background-color: #E0FF04;
        height: 100%;
        top: 0;
        left: -200px;
        transition: left .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
      }

      .hidden-menu a { 
          display: block;
          text-decoration: none;
          color:black;
          line-height: 30px;
      }

      .hidden-menu { 
          display: block !important;
          padding: 40px 20px !important;
      }

      .hidden-menu .search input {
          background-color: #E0FF04;
          border: 1px solid #E0FF04;
      }

      .navbar { 
          display: none;
      }

 #banner { 
    width: 100%;
    min-height: 25vh;
    background-image: url(../assets/image/7.png);
    
    background-size: cover;
 }

      .mobile-logo { 
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
      }

      .mobile-logo img { 
          width:70%;
          margin-left: 15%;
      }

      #home-header {
        min-height: auto;
      }

      .hidden-menu-ticker {
        display: none;
      }

      .btn-menu {
        color: #fff;
        background-color: #666;
        padding: 5px;
        position: fixed;
        top: 5px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 3;
        width: 35px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
      }
      .btn-menu span {
        display: block;
        height: 5px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
      }
      .btn-menu span.first {
        margin-top: 0;
      }

      .hidden-menu-ticker:checked ~ .btn-menu {
        left: 160px;
      }
      .hidden-menu-ticker:checked ~ .hidden-menu {
        left: 0;
      }
      .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
      }
      .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
      }
      .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
      }

      #home-header{ 
        padding:3% 7.5% 3% 7.5%;
    }

.menu { 
    display: none !important;
}

      #mobile-menu { 
          display: block;
      }

      .footer-logo { 
        margin-top: 12px;
      }
      .footer-menu { 
        margin-top: 5px;
      }
      .sign-up img {
        width: 80%;
    }
  }

  @media screen and (max-width: 400px) { 
    .some-area-item {
        align-items: center;
        width: 79vw;
        height: 79vw;
        min-height: 200px;
        min-width: 200px;
        margin: 10px;
    }
  }